<%- include ../partials/header -%>

  <div class="container my-5 pt-5">
    <div id="main-service">
      <h1 class="text-center mb-5">
        Make changes to
        <span class="service-title-main">
          <%%= service.title %>
        </span>
      </h1>


      <!-- HR -->
      <hr class="service-hr">


      <!-- FORM -->
      <!-- image and description from main page  -->
      <form class="mb-5 main-edit-form"
        action="/admin/services/<%%= service.title %>?_method=PUT&_csrf=<%%= csrfToken %>" method="POST"
        enctype="multipart/form-data">

        <!-- main page image -->
        <div class="row from-main-page text-center">
          <div class="col-md-8">
            <div class="image-exist">
              <img src="<%%= service.imageMain.url %>" alt="<%%= service.title %>" />

              <div class="image-choose">
                <label for="imageMain">Upload new image</label>
                <input type="file" class="form-control-file my-2" name="imageMain" id="imageMain" accept="image/*" />

                <!-- image preview -->
                <img class="imgMainPreview" alt="" />

              </div>
            </div>
          </div>
          <div class="col-md-4 mt-4 mt-md-0">
            <h3>Description on main page</h3>
            <h5>
              <%%= service.descriptionMain %>
            </h5>

            <!-- button to open-close main description edit area  -->
            <button type="button" class="btn btn-sm btn-block btn-warning main-description-button">
              Edit
            </button>

            <!-- edit aria for main description -->
            <div class="main-description-edit-area">
              <textarea type="text" class="form-control my-2" name="descriptionMain"
                rows="5"><%%= service.descriptionMain %></textarea>
            </div>
            
            <!-- popover -->
            <a tabindex="0" class="btn btn-round-advice m-3" role="button" data-toggle="popover" data-trigger="focus"
              title="Main screen"
              data-content="In this area you can edit image and text, that appers on main page. Image will scale to needed size. But, please don't add to large description. It might not fit on image.">?</a>

          </div>
        </div>

        <hr class="mt-5 mb-5" />

        <!-- service title -->
        <div class="row text-center">
          <div class="col-5 offset-4">
            <h2>
              <%%= service.title %>
            </h2>
            <!-- edit aria for title -->
            <div class="row justify-content-center text-center">
              <div class="title-edit-area">
                <input type="text" class="form-control" name="title" value="<%%= service.title %>" />
              </div>
            </div>
          </div>
          <!-- button to open title edit area  -->
          <div class="col-1">
            <button type="button" class="btn btn-sm btn-warning title-edit-button">
              Edit
            </button>
          </div>
        </div>

        <!-- IPL Laser -->
        <div class="row text-center my-5">
          <div class="col-lg-10 offset-lg-1">
            <p class="text-justify px-2 pt-5">
              <%%= service.description1 %>
            </p>
            <button type="button" class="btn btn-sm btn-block btn-warning description1-edit-button">
              Edit
            </button>
            <!-- edit area for 1st description -->
            <div class="description1-edit-area">
              <textarea type="text" class="form-control my-2" name="description1"
                rows="6"><%%= service.description1 %></textarea>
            </div>
            <p class="text-left pt-2">
              This technology let you get such treatments like:
            <ul class="text-left service-p-bigger">
              <li>Hair removal (white and blond Hair also)</li>
              <li>Photo-rejuvenation</li>
              <li>Hyperpigmentation</li>
              <li>Vascular Lesions</li>
              <li>Acne</li>
            </ul>
            </p>
          </div>
        </div>

        <div class="row descript pb-5 d-flex align-items-center">
          <div class="col-lg-6 pb-4">
            <h3 class="pb-2 pb-lg-0 pt-0 pt-lg-5 pt-lg-0">What are we using</h3>
            <p class="text-justify px-2 pt-3">
              <%%= service.description2 %>
            </p>
            <button type="button" class="btn btn-sm btn-block btn-warning description2-edit-button">
              Edit
            </button>
            <!-- edit area for 2nd description -->
            <div class="description2-edit-area">
              <textarea type="text" class="form-control my-2" name="description2"
                rows="6"><%%= service.description2 %></textarea>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="image-exist">
              <img src="<%%= service.image1.url %>" alt="<%%= service.title %>" />
              <!-- image upload block -->
              <div class="image-choose">
                <label for="image1">Upload new image</label>
                <input type="file" class="form-control-file my-2" name="image1" id="image1" accept="image/*" />

                <!-- image preview -->
                <img class="img1Preview" />
              </div>
            </div>

          </div>

        </div>

        <div class="row my-5 text-center d-flex align-items-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="image-exist">
              <img src="<%%= service.image2.url %>" alt="<%%= service.title %>" />
              <div class="image-choose">
                <label for="image2">Upload new image</label>
                <input type="file" class="form-control-file my-2" name="image2" id="image2" accept="image/*" />

                <!-- image preview -->
                <img class="img2Preview" />
              </div>

            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <h3 class="pb-2">How it works </h3>
            <p class="text-justify p-2 pt-3 pb-4">
              <%%= service.description3 %>
            </p>
            <button type="button" class="btn btn-sm btn-block btn-warning description3-edit-button">
              Edit
            </button>
            <!-- edit area for 2nd description -->
            <div class="description3-edit-area">
              <textarea type="text" class="form-control my-2" name="description3"
                rows="6"><%%= service.description3 %></textarea>
            </div>
          </div>

        </div>

        <div class="row my-5 text-center">
          <div class="col-md-6">

            <div class="video-exist">
              <video controls width="auto">
                <source src="<%%= service.video.url %>" type="video/webm">
                <source src="<%%= service.video.url %>">
              </video>

              <!-- delete check input-->
              <div class="form-check-inline delete-video">
                <input name="deleteVideo" type="checkbox" id="deleteVideo">
                <label for="deleteVideo">Delete?</label>
              </div>


              <div class="video-choose">
                <label for="video">Upload new video</label>
                <input type="file" class="form-control-file my-2" name="video" id="video" accept="video/*" />
              </div>

            </div>
          </div>
        </div>

        <button type="submit" id="updateBtn" class="btn btn-lg btn-block btn-primary my-2">
          Update
        </button>


        <!-- update loading spinner -->
        <div id="update-spinner">
          <div class="lds-spinner update-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </form>

      <%- include ../partials/delete-service-btn -%>

        <hr class="my-5">

    </div>
  </div>

  <div class="container-fluid px-0">
    <%- include ../partials/img-before-after -%>
  </div>

  <%- include ../partials/service-tags -%>

  <%- include ../partials/go-back-admin-btn -%>

    <%- include ../partials/footer -%>