<%- include ./partials/header -%>


  <div class="container">
    <div class="container-about">

      <h1>About us</h1>

      <div class="row mb-5">
        <div class="col-lg-7 image-about">
          <img src="<%%= about.image.url %>" alt="Photo">
        </div>
        <div class="col-lg-5 pl-lg-5 mt-5 mt-lg-0">
          <div class="our-mission">
            <h2 class="mb-lg-4 text-center">Our Mission</h2>
            <h4>
              <%%= about.ourMission %>
            </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 my-2">
          <h4>
            <%%= about.about %>
          </h4>
        </div>
        <div class="col-12 my-2">
          <h4>
            <%%= about.aboutSection1 %>
          </h4>
        </div>
        <div class="col-12 my-2">
          <h4>
            <%%= about.aboutSection2 %>
          </h4>
        </div>
        <div class="col-12 my-2">
          <h4>
            <%%= about.aboutSection2 %>
          </h4>
        </div>
      </div>

    </div>



  </div>


  <%- include ./partials/go-to-top-button -%>

    <%- include ./contacts -%>

      <%- include ./partials/bottom-menu -%>


        <%- include ./partials/footer -%>