<%- include ../partials/header -%>


<%- include ../partials/services-bunner -%>

<%- include ../partials/go-to-top-button -%>

<div class="container">
  <div id="main-service">


    <%- include ../partials/service-buttons -%>

    <!-- HR -->
    <hr class="service-hr">

    <!-- Chemical peels -->
    <div class="service-every">

      <div class="row text-center">
        <div class="col justify-content-center">
          <h2>
            <%%= service.title %>
          </h2>
        </div>
      </div>

      <div class="row service-p-bigger">
        <div class="col-lg-10 offset-lg-1">
          <p class="text-justify px-2 pt-5">
            <%%= service.description1 %>
          </p>
        </div>
      </div>

      <div class="row descript img-shadow text-center pb-5">
        <div class="col-lg-6 pb-4">
          <h3 class="pb-2 pb-lg-0 pt-0 pt-lg-5 pt-lg-0">What is chemical peel</h3>
          <p class="text-justify px-2 pt-3">
            <%%= service.description2 %>
          </p>
          <p class="text-justify px-2 pb-2 mt-0">
          Peel solution ingredients are also working to create new cells that function properly. Not only visibly improving the
          skin but correcting from within.
          </p>
        </div>
        <div class="col-lg-6">
          <img src="<%%= service.image1.url %>" alt="<%%= service.title %>">
        </div>

      </div>

      <div class="row mt-0 ddescription img-shadow serv-peel">
        <div class="col-lg-6 d-flex justify-content-center order-2 order-lg-1">
          <img src="<%%= service.image2.url %>" alt="<%%= service.title %>">
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <h3 class="pb-2">Benefits of a peel</h3>
          <ul>
            <li>Reduced fine lines and whinkless</li>
            <li>Controlled oil production and fewer breackouts</li>
            <li>Increased cell turnover process</li>
            <li>Reduced inflammatory response</li>
            <li>Diminished discoloration and a more even skin tone</li>
            <li>Overrall brightened skin tone</li>
            <li>Softer and smoother skin</li>
          </ul>
        </div>

      </div>

      <div class="row pb-5 description serv-microderm align-items-start">

        <div class="col-12 col-md-4 mb-5">
          <h3 class="pb-0 m-0 m-lg-1">
            Why
          </h3>
          <p class="text-center p-2">
            Our skin naturally exfoliates, gently shedding dead skin cells so subtly that most of us don’t even notice.
            However, as we age, this process tends to slow, resulting in a dull complexion.
          </p>
        </div>

        <div class="col-12 col-md-4 mb-5">
          <h3 class="pb-0 m-0 m-lg-1">
            How often
          </h3>
          <p class="text-center p-2">
            Chemical peels are usually recommended once a month, paralleling the skin’s natural 28-day cell turnover
            process for the best results. Depending on your skin concern, your aesthetician may recommend them more or
            less frequently.
          </p>
        </div>

        <div class="col-12 col-md-4 mb-5">
          <h3 class="pb-0 m-0 m-lg-1">
            Downtime
          </h3>
          <p class="text-center p-2">
            Little downtime to no downtime(depending of your skin type and kind of peeling).
          </p>
        </div>

      </div>


      <!-- before/after photo-slider -->
      <%- include ../partials/before-after -%>

    </div>

  </div>
</div>


<%- include ../prices -%>
<%- include ../partials/bottom-menu -%>
<%- include ../partials/footer -%>